BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "i_clk" SITE "G2";
IOBUF  PORT "i_clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "i_clk" 25 MHZ;

LOCATE COMP "o_tx" SITE "L4";
IOBUF  PORT "o_tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "i_rx" SITE "M1";
IOBUF  PORT "i_rx" PULLMODE=UP IO_TYPE=LVCMOS33;
