BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "i_clk" SITE "G2";
IOBUF  PORT "i_clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "i_clk" 25 MHZ;

LOCATE COMP "o_tx" SITE "L4";
IOBUF  PORT "o_tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "i_rx" SITE "M1";
IOBUF  PORT "i_rx" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "o_led[7]" SITE "H3";
LOCATE COMP "o_led[6]" SITE "E1";
LOCATE COMP "o_led[5]" SITE "E2";
LOCATE COMP "o_led[4]" SITE "D1";
LOCATE COMP "o_led[3]" SITE "D2";
LOCATE COMP "o_led[2]" SITE "C1";
LOCATE COMP "o_led[1]" SITE "C2";
LOCATE COMP "o_led[0]" SITE "B2";
IOBUF  PORT "o_led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "o_led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "o_led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "o_led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "o_led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "o_led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "o_led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "o_led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "i_btn[0]" SITE "D6";  # PWR BTN (inverted logic)
LOCATE COMP "i_btn[1]" SITE "R1";  # FIRE1
LOCATE COMP "i_btn[2]" SITE "T1";  # FIRE2
LOCATE COMP "i_btn[3]" SITE "R18"; # UP W1->R18
LOCATE COMP "i_btn[4]" SITE "V1";  # DOWN
LOCATE COMP "i_btn[5]" SITE "U1";  # LEFT
LOCATE COMP "i_btn[6]" SITE "H16"; # RIGHT Y2->H16
IOBUF  PORT "i_btn[0]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "i_btn[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "i_btn[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "i_btn[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "i_btn[4]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "i_btn[5]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "i_btn[6]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
