BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "i_clk25" SITE "G2";
IOBUF  PORT "i_clk25" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "i_clk25" 25 MHZ;

LOCATE COMP "i_rst_n" SITE "D6";  # BTN_PWRn (inverted logic)
IOBUF  PORT "i_rst_n" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uart0_tx" SITE "L4";
LOCATE COMP "uart0_rx" SITE "M1";
IOBUF  PORT "uart0_tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "uart0_rx" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "B2";
LOCATE COMP "led[1]" SITE "C2";
LOCATE COMP "led[2]" SITE "C1";
LOCATE COMP "led[3]" SITE "D2";
LOCATE COMP "led[4]" SITE "D1";
LOCATE COMP "led[5]" SITE "E2";
LOCATE COMP "led[6]" SITE "E1";
LOCATE COMP "led[7]" SITE "H3";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "btn[0]" SITE "R1";  # FIRE1
LOCATE COMP "btn[1]" SITE "T1";  # FIRE2
LOCATE COMP "btn[2]" SITE "R18"; # UP W1->R18
LOCATE COMP "btn[3]" SITE "V1";  # DOWN
LOCATE COMP "btn[4]" SITE "U1";  # LEFT
LOCATE COMP "btn[5]" SITE "H16"; # RIGHT Y2->H16
IOBUF  PORT "btn[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[4]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[5]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "flash_dq[0]" SITE "L16"; # GP17
IOBUF  PORT "flash_dq[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "flash_dq[1]" SITE "G18"; # GN19
IOBUF  PORT "flash_dq[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "flash_dq[2]" SITE "H17"; # GN18
IOBUF  PORT "flash_dq[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "flash_dq[3]" SITE "F17"; # GP19
IOBUF  PORT "flash_dq[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "flash_clk" SITE "H18"; # GP18
IOBUF  PORT "flash_clk" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "flash_cs_n" SITE "E17"; # GN20
IOBUF  PORT "flash_cs_n" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uart1_rx" SITE "E13"; # GN27
IOBUF  PORT "uart1_rx" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "uart1_tx" SITE "D13"; # GP27
IOBUF  PORT "uart1_tx" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uart2_rx" SITE "C11"; # GN0
IOBUF  PORT "uart2_rx" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "uart2_tx" SITE "A11"; # GN1
IOBUF  PORT "uart2_tx" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
