BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "i_clk25" SITE "G2";
IOBUF  PORT "i_clk25" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "i_clk25" 25 MHZ;

LOCATE COMP "i_rst_n" SITE "D6";  # BTN_PWRn (inverted logic)
IOBUF  PORT "i_rst_n" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

### DEBUG-ONLY ###
LOCATE COMP "uart_user_dbg_tx" SITE "L4";
LOCATE COMP "uart_user_dbg_rx" SITE "M1";
IOBUF  PORT "uart_user_dbg_tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "uart_user_dbg_rx" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "uart_mgmt_dbg_tx" SITE "D13"; # GP27
LOCATE COMP "uart_mgmt_dbg_rx" SITE "E13"; # GN27
IOBUF  PORT "uart_mgmt_dbg_tx" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "uart_mgmt_dbg_rx" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "led[0]" SITE "B2";
LOCATE COMP "led[1]" SITE "C2";
LOCATE COMP "led[2]" SITE "C1";
LOCATE COMP "led[3]" SITE "D2";
LOCATE COMP "led[4]" SITE "D1";
LOCATE COMP "led[5]" SITE "E2";
LOCATE COMP "led[6]" SITE "E1";
LOCATE COMP "led[7]" SITE "H3";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "io0" SITE "P3"; # OLED DAT
LOCATE COMP "io1" SITE "E8"; # SW1
LOCATE COMP "io2" SITE "P4"; # OLED CLK
LOCATE COMP "io3" SITE "P1"; # OLED DC
LOCATE COMP "io4" SITE "P2"; # OLED RST
LOCATE COMP "io5" SITE "N2"; # OLED CS

IOBUF  PORT "io0" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "io1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "io2" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "io3" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "io4" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "io5" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

